<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand flex" href="#">
            <img [src]="logoImg" alt="Logo" class="d-inline-block align-text-top">
            <div class="d-flex justify-content-arround">
                <div class="navbar-title">
                    <h4>App lista de mercado</h4>
                </div>
                <div class="logos">
                    <img [src]="angularLogo" alt="Angular"> + 
                    <img [src]="firebaseLogo" alt="Firebase">
                </div>
            </div>
        </a>
    </div>
</nav>
